body {
    background-color: bisque;
}

.main {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Roboto Condensed';
}

.pad {
    display: flex;
    justify-content: center;
}

.drawing-pad {
    height: 960px;
    width: 960px;
    background-color: white;
}