:root {
    --side-square: 58px;
}

body {
    background-color: bisque;
}

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Condensed';
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.square {
    width: var(--side-square);
    height: var(--side-square);
    background-color: white;
    border: 1px solid black;
}

.black {
    background-color: black;
}